@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--main-navy: rgb(0, 0, 30);
	--lightgray: rgb(238, 238, 238);
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	scroll-behavior: smooth;
	background: var(--main-navy);
	color: white;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
text {
	font-family: "Fira Sans", sans-serif;
}

section {
	margin: 5rem auto;
}

article {
	margin: 5rem auto;
	width: 80%;
	max-width: 600px;
}

p {
  line-height: 1.5;
  margin: 1.5rem 0;
}

a:link, a:visited {
  color: rgb(211, 211, 2);
}

a:hover {
  color: gray;
  transition: all 0.4s ease;
}

.video {
  width: 60%;
  margin: 0 auto;
}
